*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(./img/moranguinho-colorida.png); /*transforma imagem em background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', cursive;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 36px;
    text-shadow: 2px 2px 10px hotpink;
}

.easterEgg span {
    color: #ffffff;
}

.easterEgg:hover span:nth-child(3),
.easterEgg:hover span:nth-child(7),
.easterEgg:hover span:nth-child(9) {
    color: #8f0606;
    text-shadow: 0 0 12px #8f0606;
    transition: color 10s ease-in, text-shadow 10s ease-in; /* ease-in começa devagar e acelera no final */
}

menu a {
    color: #ffffff;
    font-size: 2rem;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff66cc;
    border-radius: 10px;
    box-shadow: 0 0 10px hotpink;
    transition: 0.5s ease;
}

menu a:hover {
    color: black;
}