*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(./img/moranguinho-colorida.png); /*transforma imagem em background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', cursive;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 36px;
    text-shadow: 2px 2px 10px hotpink;
}

.easterEgg:hover span {
    color: #8f0606;
    text-shadow: 0 0 12px #8f0606;
    transition: color 10s ease-in, text-shadow 10s ease-in; /* ease-in começa devagar e acelera no final */
}

menu a {
    color: #ffffff;
    font-size: 2rem;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff66cc;
    border-radius: 10px;
    box-shadow: 0 0 10px hotpink;
    transition: 0.5s ease;
}

menu a:hover {
    color: black;
    font-size: 2.2rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}


